#t1{
    text-align: center;
}
#img1{
    height: 500px;
    width: 750px;
}
#img2{
    height: 500px;
    width: 720px;
}
#img3{
    height: 500px;
    width: 635px;
}
#img4{
    height: 500px;
    width: 500px;
}
#img5{
    height: 500px;
}
#img6{
    height:300px;
    margin-left: 50px;;
}
#t2{
    margin-left: 50px;
    margin-top: -1px;
}